@{
    ViewBag.Title = "Home Page";
}

<form class="form-horizontal" action="Home/Register" method="get" onsubmit="ColorFunction();">

    <div class="form-group">
        <label for="Name" class="col-sm-6 control-label"></label>
        <div class="col-sm-6"></div>
        <input type="text" name="Name" id="name" class="form-control" placeholder="Name" />
    </div>

    <div class="form-group">
        <label for="Color" class="col-sm-6 control-label"></label>
        <div class="col-sm-6"></div>
        <select name="color" id="select1">
            <option class="purple" value="Purple">Purple</option>
            <option class="yellow" value="Yellow">Yellow</option>
            <option class="red" value="Red">Red</option>
            <option class="green" value="Green">Green</option>
            <option class="blue" value="Blue">Blue</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Age" class="col-sm-6 control-label"></label>
        <div class="col-sm-6"></div>
        <input type="text" name="City" id="city" class="form-control" placeholder="City" />
    </div>

    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:center">

            <input type="submit" class="btn btn-primary" value="Log In" />
            <!-- <input type="reset" class="btn btn-warning" value="Reset Form" />-->
        </div>
        <div class="col-sm-4"></div>
    </div> 
</form>





