
@{
    ViewBag.Title = "Register";
}
<style>
    body{
        background-color: @Session["color"]
    }
</style>

<h1>Verify</h1>
<p> Name: @Session["name"]</p>
<p>  Theme: @Session["color"]</p>
<p>  Username: @Session["userName"] </p>

<form action="/Home/Welcome">
    <input type="submit" class="btn btn-primary" value="Yes, log me in" /><br />
    </form>











